{% extends 'layout.twig' %}

{% block content %}

{% include "flash_messages.twig" %}

<p>{{page.glob.l10n.admin_users_legend2}}</p>
<form action="{{page.rot}}/admin/users/{{user.id}}" method="put" id="userform">
	<fieldset  class="config-fieldset">
		<label for="edituser_name">{{page.glob.l10n.admin_username}}</label>
		<input name="edituser_name" id="edituser_name" type="text" 
			value="{{user.username}}" placeholder="{{page.glob.l10n.admin_username}}" disabled="true" required="true" />
	</fieldset>	
	<fieldset class="config-fieldset">
		<label for="edituser_password">{{page.glob.l10n.admin_userpw}}</label>
		<input name="edituser_password" id="edituser_password" type="password" 
			value="{{user.password}}" placeholder="{{page.glob.l10n.admin_userpw}}" required="true" />
		<p>{{page.glob.l10n.admin_userpw_expl}}</p>
	</fieldset>	
	<fieldset class="config-fieldset">
		<label for="edituser_languages">{{page.glob.l10n.language}}</label>
		<select name="edituser_languages" id="edituser_languages" value="{{user.languages}}">
		{% for language in languages %}
			<option value="{{language.key}}" {%if user.languages == language.key %}selected="true"{% endif %}>{{language.lang_code}}</option>
		{% endfor %}
		</select>
		<p>{{page.glob.l10n.admin_userlangs_expl}}</p>
	</fieldset>
	<fieldset class="config-fieldset">
		<label for="edituser_tags">{{page.glob.l10n.tag}}</label>
		<select name="edituser_tags" id="edituser_tags" value="{{user.tags}}">
		{% for tag in tags %}
			<option value="{{tag.key}}" {%if user.tags == tag.key %}selected="true"{% endif %}>{{tag.name}}</option>
		{% endfor %}
		</select>
		<p>{{page.glob.l10n.admin_usertags_expl}}</p>
	</fieldset>	
	<fieldset class="config-fieldset">
		<label for="edituser_role">{{page.glob.l10n.admin_role}}</label>
		<select name="edituser_role" id="edituser_role" value="{{user.role}}">
			<option value="normal" {% if user.role == 0 %}selected="true"{% endif %}>{{page.glob.l10n.admin_role_user}}</option>
			<option value="admin" {% if user.role == 1 %}selected="true"{% endif %}>{{page.glob.l10n.admin_role_admin}}</option>
		</select>
	</fieldset>
	<button type="submit" class="btn-config">
		{{page.glob.l10n.save}}
	</button>
</form>
{% endblock %}
