{% extends 'layout-default.twig' %}

{% block navbar %}
	{% include "navbar_sublist.twig" %}
{% endblock %}


{% block content %}
{% include "flash_messages.twig" %}
<section class="author-detail-row">
	<header>
		{# Display available metadata only on first page #}
		{% if curpage == 0 %}
		<div id="author-metadata">
			<h1 class="text-2xl">{{ author.name }}</h1>
			{# author thumbnail #}
			<div class="float-left w-2/5">
				<div class="relative"
					 x-data="authorImageEdit()"
					 @mouseenter="showButton = true"
					 @mouseleave="showButton = false"
				>
					{% if author.thumbnail != '' %}
						<img class="max-h-48" id="author-thumbnail-pic" src="{{page.rot}}/static/authorthumbs/{{ author.id }}/" title="{{ author.name }}" alt="image of author"/>
					{% else %}
						<svg class="w-48 h-48" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
						</svg>
					{% endif %}
					{% if page.admin %}
						<button class="absolute left-0 top-0 top-link"
								type="button"
								title="{{ page.glob.l10n.edit }}"
								@click="open()"
								x-show="showButton == true"
						>
							{# Heroicon name: upload #}
							<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path></svg>
							<span class="sr-only">{{ page.glob.l10n.edit }}</span>
						</button>
						<button class="absolute top-8 left-0 top-link"
								type="button"
								title="{{ page.glob.l10n.delete }}"
								@click="openDeleteThumbnail()"
								x-show="showButton == true"
						>
							{# Heroicon name: x #}
							<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
							<span class="sr-only">{{ page.glob.l10n.delete }}</span>
						</button>
						{% include "author_edit_image.twig" %}
						{% include "author_delete_image.twig" %}
					{% endif %}
					<script type="application/javascript">
						function authorImageEdit() {
							return {
								show: false,
								showDeleteThumbnail: false,
								showButton: false,
								open() { this.show = true },
								openDeleteThumbnail() { this.showDeleteThumbnail = true },
								close() { this.show = false },
								closeDeleteThumbnail() { this.showDeleteThumbnail = false },
								isOpen() { return this.show === true },
								isDeleteThumbnailOpen() { return this.showDeleteThumbnail === true },
							}
						}
					</script>
				</div>
			</div>
			{# author metadata #}
			<section class="relative float-right px-6 w-3/5">
				<div id="author-metadata">
					{% if author.links or page.admin %}
						<div id="links"
							 class="relative"
							 x-data="authorLinksEdit()"
							 @mouseenter="showLinksPanelButton = true"
							 @mouseleave="showLinksPanelButton = false"
						>
							<h2 class="font-semibold">{{page.glob.l10n.author_links}}</h2>
							{% for link in author.links %}
								<a class="top-link"  href="{{link.url}}">
									<svg class="w-6 h-6 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
									</svg>
									{{ link.label }}
								</a>
							{% endfor %}
							{% if page.admin %}
								<button class="top-link absolute right-0 top-0"
										type="button"
										title="{{ page.glob.l10n.edit }}"
										@click="openLinksPanel()"
										x-show="showLinksPanelButton == true"
								>
									{# Heroicons: pencil #}
									<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
									<span class="sr-only">{{ page.glob.l10n.edit }}</span>
								</button>
								{% include "author_edit_links.twig" %}
							{% endif %}
							<script type="application/javascript">
								function authorLinksEdit() {
									return {
										showLinksPanel: false,
										showLinksPanelButton: false,
										openLinksPanel() { this.showLinksPanel = true },
										closeLinksPanel() { this.showLinksPanel = false },
										isLinksPanelOpen() { return this.showLinksPanel === true },
									}
								}
							</script>
						</div>
					{% endif %}
					<div id="series" class="mt-2">
						<h2 class="font-semibold">{{page.glob.l10n.series}}</h2>
						{% for this_series in series %}
							<a class="top-link"  href="{{page.rot}}/series/{{this_series.id}}/">
								<svg class="w-6 h-6 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
								{{ this_series.name }}
							</a>
						{% endfor %}
					</div>
				</div>
			</section>
		</div>
		{% else %}
		<h3>
			{{page.glob.l10n.booksby}} <em>{{ author.name }}</em>
		</h3> 
		{% endif %}
	</header>
	<section id="author-books" class="clear-both pt-2">
		{% include "titles_listview.twig" %}
	</section>
</section>
{% endblock %}
