<section class="fixed inset-y-0 pl-16 max-w-full right-0 flex" style="z-index: 1001"
         aria-labelledby="{{ page.glob.l10n.author_details }} {{ page.glob.l10n.author_metadata }} {{ page.glob.l10n.author_thumbnail }}"
         x-show="isOpen()"
         @click.away="close"
>
    <div class="w-screen max-w-md">
        <form class="h-full divide-y divide-gray-200 flex flex-col bg-white shadow-xl"
              id="author-pic"
              action="{{page.rot}}/authors/{{ author.id }}/"
              method="post"
              enctype="multipart/form-data"
        >
            <div class="flex-1 h-0 overflow-y-auto">
                <div class="py-6 px-4 bg-manatee-500 sm:px-6">
                    <div class="flex items-center justify-between">
                        <h2 id="slide-over-heading" class="text-lg font-medium text-white">
                            {{ page.glob.l10n.author_thumbnail }}
                        </h2>
                        <div class="ml-3 h-7 flex items-center">
                            <button class="app-btn"
                                    @click="close()"
                            >
                                <span class="sr-only">Close panel</span>
                                <!-- Heroicon name: x -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="mt-1">
                        <p class="text-sm text-white">
                            {{ page.glob.l10n.author_thumbnail_expl }}
                        </p>
                    </div>
                </div>
                <div class="flex-1 flex flex-col justify-between mt-1">
                    <div class="px-4 divide-y divide-gray-200 sm:px-6">
                        <input type="file"
                               name="file"
                               accept="image/jpg,image/jpeg,image/pjpeg,image/png,image/x-png,.jpg,.png,.jpeg"
                               required
                               />
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0 px-4 py-4 flex justify-end">
                <button type="button"
                        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        @click="close()"
                >
                    {{ page.glob.l10n.cancel }}
                </button>
                <button type="submit" class="ml-4 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    {{page.glob.l10n.upload }}
                </button>

            </div>
        </form>
    </div>
</section>
