{% extends 'layout.twig' %}

{% block pid %}id="pauthor_detail"{%endblock%}


{% block content %}
{% include "flash_messages.twig" %}
<section class="author-detail-row">
	<header>

		{# Display edit menu only on first page and if user is admin #}
		{#  if curpage == 0 and isadmin %}
		<a id="author_edit" href="#popupMenu" data-rel="popup" data-role="button" data-inline="true" data-mini="true" data-icon="edit" data-theme="b" data-iconpos="notext">
			{{page.glob.l10n.edit}}
		</a>
		<div data-role="popup" id="popupMenu" data-theme="d">
		        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
		            <li data-role="divider" data-theme="b">
		            	{{page.glob.l10n.author_metadata}}
		            </li>
		            <li>
		            	<a href="#author-mdthumb-panel">
		            		{{page.glob.l10n.author_thumbnail}}
		            	</a>
		            </li>
		            <li>
		            	<a href="#author-mdlinks-panel">
		            		{{page.glob.l10n.author_links}}
		            	</a>
		            </li>
		        </ul>
		</div>
		{% endif%} #}

		{# Display available metadata only on first page #}
		{% if curpage == 0 %}
		<div id="author-metadata">
			<h1 class="text-2xl">{{ author.name }}</h1>
			<div class="float-left w-2/5">
				{% if author.thumbnail %}
					<img id="author-thumbnail-pic" src="{{page.rot}}/{{thumbnail}}/"/>
				{% else %}
					<svg class="w-48 h-48" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
					</svg>
				{% endif %}
			</div>
			<section class="float-right w-3/5">
				<div id="author-links">
					{% if author.links %}
						<div id="links" class="collapsible">
							<h2 class="font-semibold">{{page.glob.l10n.links}}</h2>
							{% for link in author.links %}
								<a class="top-link"  href="{{link.url}}">
									<svg class="w-6 h-6 inline " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
									{{ link.label }}
								</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if series %}
						<div id="series" class="collapsible">
							<h2 class="font-semibold">{{page.glob.l10n.series}}</h2>
							{% for this_series in series %}
								<a class="top-link"  href="{{page.rot}}/series/{{this_series.id}}/">
									<svg class="w-6 h-6 inline " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
									{{ this_series.name }} ({{book.series_index}})
								</a>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</section>
		</div>
		{% else %}
		<h3>
			{{page.glob.l10n.booksby}} <em>{{ author.name }}</em>
		</h3> 
		{% endif %}
	</header>
	<section id="author-books" class="clear-both">
		{% include "titles_listview.twig" %}
	</section>
</section>
{% endblock %}
