<div id="flash">
	{% for message in messages %}
		<p class="success">{{message}}</p>
	{% endfor %}

	{% if flash.info %}
		<p class="success">{{flash.info}}</p>
	{% endif %}

	{% if flash.error %}
		<p class="error">{{flash.error}}</p>
	{% endif %}
	
	{% for error in errors %}
	{% if error == 1 %}
		<p class="error">{{page.glob.l10n.invalid_calibredir2}}</p>
	{% elseif error == 2 %}
		<p class="error">{{page.glob.l10n.invalid_password2}}</p>
	{% elseif error == 3 %}
		<p class="error">{{page.glob.l10n.admin_pw_required2}}</p>
	{% elseif error == 4 %}
		<p class="error">{{page.glob.l10n.admin_invalid_page_size}}</p>	
	{% elseif error == 5 %}
		<p class="error">{{page.glob.l10n.invalid_email_address}}</p>		
	{% else %}
		<p class="error">{{page.glob.l10n.unknown_error1}}</p>
	{% endif %}
	{% endfor %}
	{% if errors %}
		<p>
			<a href="{{page.rot}}/installcheck.php">
				{{page.glob.l10n.check_installation}}
			</a>
		</p>
	{% endif %}
</div>	