<header class="flex items-center justify-between bg-hbgl dark:bg-hbgd">
    <h1 class="px-2 text-left hidden md:visible">
        {{ page.h1 }}
    </h1>
    <form class="px-1" method="get" action="{{ page.rot }}/{{ url }}/">
        <label class="sr-only" for="filter">{{ page.glob.l10n.pagination_search_ph }}</label>
        <input type="search" class="input w-24 md:w-auto" id="filter" name="search" placeholder="{{ page.glob.l10n.pagination_search_ph }}" value="{{ search }}"/>
    </form>
    <div class=" flex items-end">
        <a href="{{ page.rot }}/" class="top-link" title="{{ page.glob.l10n.home }}" title="{{ page.glob.l10n.home }}">
            <span class="sr-only">{{ page.glob.l10n.home }}</span>
            {# Heroicon name: home #}
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
        </a>
        <a href="{{ page.rot }}/search/" class="top-link" title="{{ page.glob.l10n.pagination_search }}" title="{{ page.glob.l10n.pagination_search }}">
            <span class="sr-only">{{ page.glob.l10n.pagination_search }}</span>
            {# Heroicon name: search #}
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </a>
        {% if page.admin %}
            <a href="{{ page.rot }}/admin/" class="top-link" title="{{ page.glob.l10n.admin_short }}">
                <span class="sr-only">{{ page.glob.l10n.admin_short }}</span>
                {# Heroicon name: adjustments #}
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                </svg>
            </a>
        {% endif %}
        <a href="{{ page.rot }}/logout/" class="top-link" title="{{ page.glob.l10n.logout }}">
            <span class="sr-only">{{ page.glob.l10n.logout }}</span>
            {# Heroicon name: logout #}
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
        </a>
    </div>
</header>
