{% extends 'layout-default.twig' %}

{% block headerlinks %}
<link rel="related" href="{{page.rot}}/opds/" 
	type="application/atom+xml;profile=opds-catalog" title="OPDS index">
<link rel="alternate" href="{{page.rot}}/opds/newest/" 
	type="application/atom+xml;profile=opds-catalog" title="OPDS catalog: newest books">
{% endblock %}

{% block content %}
    {% include "flash_messages.twig" %}
    <h2>{{page.glob.l10n.intro}}</h2>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-1">
        <div class="stats-cell">
            <p class="stats-header">{{page.glob.l10n.titles}}</p>
            <p class="stats-value">{{stats.titles}}</p>
        </div>
        <div  class="stats-cell">
            <p class="stats-header">{{page.glob.l10n.authors}}</p>
            <p class="stats-value">{{stats.authors}}</p>
        </div>
        <div class="stats-cell">
            <p class="stats-header">{{page.glob.l10n.tags}}</p>
            <p class="stats-value">{{stats.tags}}</p>
        </div>
        <div class="stats-cell">
            <p class="stats-header">{{page.glob.l10n.series}}</p>
            <p class="stats-value">{{stats.series}}</p>
        </div>
    </div>

    <h2>{{page.glob.l10n.dl30}}</h2>
    {% include "titles_listview.twig" %}

{% endblock %}
