<!doctype html>
<html class="no-js" lang="{{ page.glob.lang }}">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block headerlinks %}{% endblock %}
    <link rel="icon" href="{{ page.rot }}/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ page.rot }}/bbs-icon.png">
    <link rel="stylesheet" href="{{ page.rot }}/style/style.css">
    <script src="{{ page.rot }}/js/modernizr-3.11.2.min.js"></script>
    <script src="{{ page.rot }}/js/turbolinks-5.2.0.min.js" defer></script>
    <script src="{{ page.rot }}/js/alpine-2.7.3.min.js" defer></script>
    <script src="{{ page.rot }}/js/main.js" defer></script>
</head>
<body class="bg-manatee-50 dark:bg-manatee-900">
<div class="px-1 pt-0.5 md:container md:mx-auto">
    <header>
        <h1 class="mx-auto py-6 px-6 lg:px-8 text-4xl">{{ page.title }}</h1>
    </header>
    <main>
        <div class=" mx-auto py-6 px-6 lg:px-8">
            <div class="px-4 py-6 sm:px-0">
                <div class="border-4 border-dashed border-gray-200 rounded-lg">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-manatee-200 flex items-center py-1 sm:px-6 lg:px-8">
        <p><a href="https://github.com/rvolz/BicBucStriim">BicBucStriim {{ page.version }}</a> ― &copy;
            2012-{{ "now"|date('Y') }} Rainer Volz</p>
    </footer>
</div>
</body>
</html>