{# sort #}
<div class="px-2 relative z-0 shadow-sm rounded-md" x-data="visit4Sort">
    <script type="application/javascript">
        async function visit4Sort(val) {
            url = "{{ page.rot }}/{{ url }}/?index={{ curpage }}{% if search is not empty %}&search={{ search }}&options={{ search_options }}{% endif %}"
            switch (val) {
                case '1':
                    Turbolinks.visit(url + '&sort=byTitle', {action: "replace"});
                    break;
                case '2':
                    Turbolinks.visit(url + '&sort=byReverseDate', {action: "replace"});
                    break;
                default:
                    return;
            }
        }
    </script>
    <button type="button"
            class="nav-link"
            {% if page.menu != 2 %}disabled {% endif %}
            {% if sort is empty or sort == "byTitle" %}
                x-on:click="visit4Sort('2')"
                title="{{ page.glob.l10n.opds_by_title1 }}"
            {% else %}
                x-on:click="visit4Sort('1')"
                title="{{ page.glob.l10n.admin_tts }}"
            {% endif %}
    >
        {% if sort is empty or sort == "byTitle" %}
            <span class="sr-only">{{ page.glob.l10n.opds_by_title1 }}</span>
            <!-- Heroicon name: document-text -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
            </svg>
        {% else %}
            <span class="sr-only">{{ page.glob.l10n.admin_tts }}</span>
            <!-- Heroicon name: time -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
        {% endif %}
    </button>
</div>
